/* Reset de estilos padrão */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Estilo do cabeçalho */
header {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

/* Título do cabeçalho */
header h1 {
  font-size: 50px;
  margin: 0;
}

/* Estilo da barra de navegação */
nav {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
}

/* Links de navegação */
nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Efeito hover nos links de navegação */
nav a:hover {
  color: #009688;
}

/* Estilo para a seção Página Inicial */
#home {
  text-align: center;
  padding: 15px;
}

/* Título da Página Inicial */
#home h2 {
  font-size: 40px;
}

/* Texto da Página Inicial */
#home p {
  font-size: 18px;
  margin-top: 20px;
}

/* Estilo do carrossel */
.carousel {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

/* Container do carrossel */
.carousel-container {
  display: flex;
  animation: move 25s infinite linear;
}

/* Itens do carrossel */
.carousel-item {
  width: 100%;
  flex-shrink: 0;
  max-width: 100%;
}

/* Navegação do carrossel */
.carousel-navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Botões de navegação do carrossel */
.carousel-button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #009688;
  transition: color 0.3s ease, background 0.3s ease;
  padding: 10px 15px;
  border-radius: 50%;
}

/* Efeito hover nos botões de navegação do carrossel */
.carousel-button:hover {
  color: #007a63;
  background: rgba(0, 150, 136, 0.5);
}

/* Animação do carrossel */
@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Estilo para a seção Reservar */
.reservation {
  background-color: #009688;
  padding: 10px;
  color: #fff;
}

/* Título da seção Reservar */
.reservation-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Texto da seção Reservar */
.reservation-text {
  font-size: 18px;
  margin-bottom: 30px;
}

/* Botões "Reservar Agora" e "Agendar Visita" */
.reservation-button {
  background-color: #272626;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 18px;
}

/* Efeito hover nos botões de reserva */
.reservation-button:hover {
  background-color: #333;
}

/* Efeito de foco nos botões de reserva */
.reservation-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Estilo para a seção de Depoimentos */
#testimonials {
  background-color: #f9f9f9;
  padding: 60px 0;
}

/* Título da seção de Depoimentos */
#testimonials h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
}

/* Estilo do depoimento */
.testimonial {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Imagem do cliente no depoimento */
.testimonial img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0 auto 15px;
}

/* Texto do depoimento */
.testimonial .testimonial-text {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Nome do cliente no depoimento */
.testimonial .client-name {
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para a seção de Contato */
.contact {
  padding-top: 0.5cm;
}

/* Estilo para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

/* Informações de contato e links de redes sociais no rodapé */
.contact {
  margin-bottom: 30px;
}

/* Espaçamento entre as imagens de redes sociais no rodapé */
.social-media img {
<<<<<<< HEAD
  margin-right: 20.8px;
=======
  margin-right: 25.8px;
>>>>>>> 58830635f98a449eaacaf51effd157ed432d7ccc
}
