/* Estilos CSS aqui */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #009688;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #009688;
}

/* Estilos para a seção de Página Inicial */
#home {
    text-align: center;
    padding: 15px;
}

#home h2 {
    font-size: 40px;
}

#home p {
    font-size: 18px;
    margin-top: 20px;
}

/* Estilos para o carrossel */
.carousel {
    display: flex;
    overflow: hidden;
    justify-content: center;
    width: 100%; /* Usar a largura total do contêiner pai */
    max-width: 800px; /* Largura máxima do carrossel */
    margin: 0 auto;
    position: relative;
}

.carousel-container {
    display: flex;
    animation: move 25s infinite linear;
}

.carousel-item {
    width: 100%;
    flex-shrink: 0;
    max-width: 100%; /* Certificar-se de que as imagens não ultrapassem a largura do carrossel */
}

/* Botões de navegação */
.carousel-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-button {
    background: rgba(255, 255, 255, 0.5); /* Cor de fundo transparente */
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #009688;
    transition: color 0.3s ease, background 0.3s ease;
    padding: 10px 15px; /* Espaçamento interno para melhorar a acessibilidade */
    border-radius: 50%; /* Forma circular */
}

.carousel-button:hover {
    color: #007a63;
    background: rgba(0, 150, 136, 0.5); /* Cor de fundo transparente com hover */
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Estilos para a seção de Reserva */
/* Estilo para a seção Reservar */
.reservation {
    background-color: #009688; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    color: #fff; /* Cor do texto */
}


.reservation-heading {
    font-size: 36px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.reservation-text {
    font-size: 18px; /* Tamanho da fonte do texto */
    margin-bottom: 30px; /* Espaçamento inferior */
}

.reservation-button {
    background-color: #272626; /* Cor preta para o botão */
    color: #fff; /* Cor do texto no botão */
    border: none; /* Remova a borda do botão */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Efeito de transição suave para cor de fundo e sombra */
}

.reservation-button:hover {
    background-color: #333; /* Cor do botão ao passar o mouse */
}

.reservation-button:focus {
    outline: none; /* Remova a borda de foco padrão */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Adicione uma sombra leve ao clicar no botão */
}

/* Seção: Imagens */
.gallery {
    background-color: #f4f4f4;
    padding: 20px 0;
    text-align: center; /* Centraliza o texto */
  }
  
  .gallery-heading {
    margin-top: 0; /* Remove o espaçamento superior padrão do h2 */
  }
  
  .gallery-images {
    display: flex; /* Usa flexbox para centralizar as imagens horizontalmente */
    flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha */
    justify-content: center; /* Centraliza horizontalmente */
    margin-top: 20px;
  }
  
  .gallery-image {
    margin: 10px; /* Espaçamento entre as imagens */
  }
  
  .gallery-image img {
    width: 100%;
    max-height: 250px;
  }
